<!DOCTYPE html>
<html>
<title>greenfox.kz</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
body, html {
    background-color: white;
    color:black;
}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/images/krists-luhaers-676036-unsplash.jpg');
    min-height: 100%;
}
</style>
<body>

<!-- Sidebar with image -->
<nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:40%">
  <div class="bgimg"></div>
</nav>

<!-- Hidden Sidebar (reveals when clicked on menu icon)-->
<nav class="w3-sidebar w3-black w3-animate-right w3-xxlarge" style="display:none;padding-top:150px;right:0;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="closeNav()" class="w3-button w3-black w3-xxxlarge w3-display-topright" style="padding:0 12px;">
    <i class="fa fa-remove"></i>
  </a>
  <div class="w3-bar-block w3-center">
    <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">GreenFox</a>
    <a href="#portfolio" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">пространства</a>
    <a href="#about" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">о нас</a>
    <a href="#contact" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">контакты</a>
  </div>
</nav>

<!-- Page Content -->
<div class="w3-main w3-padding-large" style="margin-left:40%">

  <!-- Menu icon to open sidebar -->
  <span class="w3-button w3-top w3-rgb(0, 0, 0) w3-xxlarge w3-text-grey w3-hover-text-black" style="width:auto;right:0;" onclick="openNav()"><i class="fa fa-bars"></i></span>

  <!-- Header -->
  <header class="w3-container w3-center" style="padding:128px 16px" id="home">
    <IMG SRC="/images/Screen Shot 2019-01-19 at 15.15.18.png" ALT="some text" WIDTH=340 HEIGHT=210>

    <img src="/images/krists-luhaers-676036-unsplash.jpg" class="w3-image w3-hide-large w3-hide-small w3-round" style="display:block;width:60%;margin:auto;">
    <img src="/images/krists-luhaers-676036-unsplash.jpg" class="w3-image w3-hide-large w3-hide-medium w3-round" width="1000" height="1333">
    
  </header>

  <!-- Portfolio Section -->
  <div class="w3-padding-32 w3-content" id="portfolio">
    <h2 class="w3-text-grey">Наши пространства</h2>
    <hr class="w3-opacity">


    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <img src="/images/5D0C0719.jpg" style="width:100%">
        <img src="/images/5D0C0658.jpg" style="width:100%">
        <img src="/images/5D0C0644.jpg" style="width:100%">
        <img src="/images/IMG_2833.jpg" style="width:100%">
        <img src="/images/5D0C0635.jpg" style="width:100%">
      </div>

      <div class="w3-half">
        <img src="/images/5D0C0673.jpg" style="width:100%">
        <img src="/images/5D0C0708.jpg" style="width:100%"> 
        <img src="/images/5D0C0650.jpg" style="width:100%">
        <img src="/images/IMG_2858.jpg" style="width:100%">
        <img src="/images/IMG_2854.jpg" style="width:100%">
       
      </div>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
    <h2>О нас</h2>
    <hr class="w3-opacity">
    <p>«GreenFox studio» — это ведущий студийный центр фотоиндустрии, предоставляющий арендаторам все условия, необходимые для проведения интерьерных и имиджевых съёмок.

    <p>Взяв фотостудию в аренду, вы сможете воспользоваться восемью студийными залами, оснащёнными по последнему слову техники.

    <p>Вам также будет предложена аренда студии для видеосъёмок с Chromakey, позволяющая за вполне приемлемую цену создавать видеоматериалы премиум класса. Далеко не все фотостудии Алматы обладают такой разноплановой технически развитой инфраструктурой. Поэтому наше предложение – это своеобразный пропуск в высокодоходный мир высококачественной фотографии и видеосъемки.

    <p>«GreenFox» — это самая большая фото и видеостудия в Алматы. Именно поэтому сегодня наше предложение пользуется высокой популярностью в среде профессиональных моделей, фотографов, видеооператоров и создателей рекламы.</p>

    <h3 class="w3-padding-16">Наша репутация</h3><hr>
   

    <!-- Testimonials -->
    <div class="w3-row-padding" style="margin:0 -16px" >
         <div class="w3-half">
            <img src="/images/IMG_1.jpg"  style="width:100%">
            <img src="/images/IMG_22.jpg"  style="width:100%">
            
         </div>
         <div class="w3-half">
            <img src="/images/IMG_3.jpg"  style="width:100%">
         </div>
    </div>
        
    <!-- Grid for pricing tables -->
    
    <div class="w3-row-padding" style="margin:0 -16px">
      <h3 class="w3-padding-16">Прайс на aренду залов</h3><hr>
      <div class="w3-half w3-margin-bottom">
        <ul class="w3-ul w3-center w3-card w3-hover-shadow">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Video Studio</li>
          <li class="w3-padding-16">Хромокей (1 этаж)</li>

          <li class="w3-padding-16">Циклорама</li>
          <li class="w3-padding-16">Размер 10*4,5 </li>
          <li class="w3-padding-16">
            <h2> 10000 - 20000 тг</h2>
            <span class="w3-opacity">в час</span>
          </li>
          
        </ul>
      </div>

      <div class="w3-half">
        <ul class="w3-ul w3-center w3-card w3-hover-shadow">
          <li class="w3-black w3-xlarge w3-padding-32">Photo Studio</li>
          <li class="w3-padding-16">Большой зал (2 этаж) </li>
          <li class="w3-padding-16">Игра теней</li>
          <li class="w3-padding-16">Интервью-зона (1 этаж)</li>
          <li class="w3-padding-16">
            <h2>5000 - 6000 тг</h2>
            <span class="w3-opacity">в час</span>
          </li>
          
        </ul>
      </div>
    <!-- End Grid/Pricing tables -->
    </div>
    
  <!-- End About Section -->
  </div>

  <!-- Contact Section -->
  <div class="w3-padding-32 w3-content w3-text-grey" id="contact" style="margin-bottom:64px">
    <h2>Контакты</h2>
    <hr class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Алматы , Жарокова , 230 ЖК "Izumrud residence"</p>
      <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +7700 420 0747   ,   +7707 340 0747</p>
      <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: greenfox_studio@mail.ru</p>
    </div>
    
    <!-- Image of location/map -->
    <img src="/images/Screen Shot 2019-01-19 at 14.28.06.png" class="w3-image w3-greyscale" style="width:100%;margin:32px 0">
   
    
  <!-- End Contact Section -->
  </div>  
  
  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin:-24px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
      
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  <!-- End footer -->
  </footer>
  
<!-- END PAGE CONTENT -->
</div>

<script>
// Open and close sidebar
function openNav() {
    document.getElementById("mySidebar").style.width = "60%";
    document.getElementById("mySidebar").style.display = "block";
}

function closeNav() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
